<h2>{{name}}</h2>
<p>{{description}}</p>
{{#if notes}}
  <h3>Important Notes</h3>
  <p>{{notes}}</p>
{{/if}}

<div class="row">
  <div class="col-md-4">
    <h3> Moves </h3>
    {{#each move in moves}}
      <div class="move">{{#link-to "dance.move" move.id}} {{move.name}} {{/link-to}} </div>
    {{/each}}
  </div>
  <div class="col-md-8">
    {{outlet}}
  </div>
</div>
